/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Regras de box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remover margens padrão */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remover estilos de lista em elementos que possuem um role, o que remove as bolinhas dos estilos de lista padrão do navegador */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Configurações padrão do root */
html:focus-within {
  scroll-behavior: smooth;
}

/* Configurações padrão do corpo (body) */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Elementos 'a' que não possuem classe recebem estilos padrão */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Facilitar o trabalho com imagens */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Herdar fontes para inputs e botões */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remover todas as animações, transições e scroll suave para pessoas que preferem não vê-los */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
